<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake-gtest"/>
		<package id="ros-dashing-ament-cmake-pytest"/>
		<package id="ros-dashing-ament-cmake-python"/>
		<package id="ros-dashing-ament-cmake-ros"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-builtin-interfaces"/>
		<package id="ros-dashing-python-cmake-module"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-rclpy"/>
		<package id="ros-dashing-sensor-msgs"/>
		<package id="ros-dashing-std-msgs"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>