Source: ros-dashing-message-filters
Version: 3.1.2
Description: A set of ROS2 message filters which take in messages and may output those messages at a later time, based on the conditions that filter needs met.
Build-Depends: