Source: ros-dashing-tf2-ros
Version: 0.11.3
Description: This package contains the ROS bindings for the tf2 library, for both Python and C++.
Build-Depends: ros-dashing-geometry-msgs, ros-dashing-ament-cmake-gtest, ros-dashing-std-msgs, ros-dashing-message-filters, ros-dashing-tf2, ros-dashing-rclcpp, ros-dashing-ament-cmake, ros-dashing-tf2-msgs, ros-dashing-ros-workspace