Source: ros-dashing-examples-rclpy-executors
Version: 0.7.3
Description: Examples of creating and using exectors to run multiple nodes in the same process
Build-Depends: ros-dashing-ament-pep257, ros-dashing-ament-copyright, ros-dashing-ament-flake8, ros-dashing-rclpy, ros-dashing-std-msgs, ros-dashing-ros-workspace