Source: ros-dashing-ament-cmake-export-link-flags
Version: 0.7.3
Description: The ability to export link flags to downstream packages in the ament buildsystem.
Build-Depends: ros-dashing-ament-cmake-core, ros-dashing-ros-workspace