Source: ros-dashing-ament-pyflakes
Version: 0.7.3
Description: The ability to check code using pyflakes and generate xUnit test result files.
Build-Depends: ros-dashing-ament-pep8, ros-dashing-ros-workspace