Source: ros-dashing-demo-nodes-cpp
Version: 0.7.8
Description: C++ nodes which were previously in the ros2/examples repository but are now just used for demo purposes.
Build-Depends: ros-dashing-launch-testing-ament-cmake, ros-dashing-ament-lint-common, ros-dashing-example-interfaces, ros-dashing-launch-ros, ros-dashing-ament-cmake-pytest, ros-dashing-rcutils, ros-dashing-launch, ros-dashing-launch-testing-ros, ros-dashing-launch-testing, ros-dashing-rmw-implementation-cmake, ros-dashing-ament-cmake, ros-dashing-rclcpp, ros-dashing-std-msgs, ros-dashing-rmw, ros-dashing-ament-lint-auto, ros-dashing-ros-workspace