<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake-gmock"/>
		<package id="ros-dashing-ament-cmake-gtest"/>
		<package id="ros-dashing-ament-cmake-ros"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-builtin-interfaces"/>
		<package id="ros-dashing-rcl"/>
		<package id="ros-dashing-rcl-interfaces"/>
		<package id="ros-dashing-rcl-yaml-param-parser"/>
		<package id="ros-dashing-rmw"/>
		<package id="ros-dashing-rmw-implementation"/>
		<package id="ros-dashing-rmw-implementation-cmake"/>
		<package id="ros-dashing-rosgraph-msgs"/>
		<package id="ros-dashing-rosidl-generator-cpp"/>
		<package id="ros-dashing-rosidl-typesupport-c"/>
		<package id="ros-dashing-rosidl-typesupport-cpp"/>
		<package id="ros-dashing-test-msgs"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>