Source: ros-dashing-ament-cmake-export-include-directories
Version: 0.7.3
Description: The ability to export include directories to downstream packages in the ament buildsystem in CMake.
Build-Depends: ros-dashing-ament-cmake-core, ros-dashing-ros-workspace