<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-pytest"/>
		<package id="ros-dashing-ament-index-python"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-python-cmake-module"/>
		<package id="ros-dashing-rmw"/>
		<package id="ros-dashing-rmw-implementation"/>
		<package id="ros-dashing-rmw-implementation-cmake"/>
		<package id="ros-dashing-rosidl-cmake"/>
		<package id="ros-dashing-rosidl-generator-c"/>
		<package id="ros-dashing-rosidl-parser"/>
		<package id="ros-dashing-rosidl-typesupport-c"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>