Source: ros-dashing-ros-core
Version: 0.7.2
Description: A package to aggregate the packages required to use publish / subscribe, services, generate messages and other core ROS concepts.
Build-Depends: