Source: ros-dashing-ros-core
Version: 0.7.2
Description: A package to aggregate the packages required to use publish / subscribe, services, generate messages and other core ROS concepts.
Build-Depends: ros-dashing-class-loader, ros-dashing-ros2multicast, ros-dashing-ament-cmake-ros, ros-dashing-ament-cmake-gtest, ros-dashing-ros2component, ros-dashing-ament-index-python, ros-dashing-ament-cmake-auto, ros-dashing-ros2run, ros-dashing-ament-lint-common, ros-dashing-ros2msg, ros-dashing-ros2launch, ros-dashing-ros2param, ros-dashing-rclcpp-lifecycle, ros-dashing-rclcpp, ros-dashing-ament-cmake-pytest, ros-dashing-ros2node, ros-dashing-pluginlib, ros-dashing-ros2srv, ros-dashing-rosidl-default-runtime, ros-dashing-ros2lifecycle, ros-dashing-ros2pkg, ros-dashing-rcl-lifecycle, ros-dashing-ros-environment, ros-dashing-rosidl-default-generators, ros-dashing-ament-lint-auto, ros-dashing-sros2-cmake, ros-dashing-ament-cmake, ros-dashing-ament-index-cpp, ros-dashing-rclpy, ros-dashing-ros2topic, ros-dashing-ros2service, ros-dashing-ament-cmake-gmock, ros-dashing-common-interfaces, ros-dashing-sros2, ros-dashing-ros2action, ros-dashing-ros-workspace