<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake-gtest"/>
		<package id="ros-dashing-ament-cmake-ros"/>
		<package id="ros-dashing-ament-index-cpp"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-class-loader"/>
		<package id="ros-dashing-composition-interfaces"/>
		<package id="ros-dashing-launch-testing"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-rcpputils"/>
		<package id="ros-dashing-std-msgs"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>