Source: ros-dashing-ament-lint-cmake
Version: 0.7.3
Description: The ability to lint CMake code using cmakelint and generate xUnit test result files.
Build-Depends: ros-dashing-ament-pep257, ros-dashing-ament-flake8, ros-dashing-ament-copyright, ros-dashing-ros-workspace