<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-pytest"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-launch"/>
		<package id="ros-dashing-launch-testing"/>
		<package id="ros-dashing-launch-testing-ament-cmake"/>
		<package id="ros-dashing-launch-testing-ros"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-rmw-fastrtps-cpp"/>
		<package id="ros-dashing-std-msgs"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>