Source: ros-dashing-rcl-interfaces
Version: 0.7.4
Description: The ROS client library common interfaces.
 This package contains the messages and services which ROS client libraries will use under the hood to communicate higher level concepts such as parameters.
Build-Depends: