Source: ros-dashing-ros2cli
Version: 0.7.4
Description: Framework for ROS 2 command line tools.
Build-Depends: ros-dashing-ament-copyright, ros-dashing-ament-xmllint, ros-dashing-ament-pep257, ros-dashing-rclpy, ros-dashing-ament-flake8, ros-dashing-ros-workspace