Source: ros-dashing-rosidl-typesupport-opensplice-c
Version: 0.7.1
Description: Generate the C interfaces for PrismTech OpenSplice.
Build-Depends: ros-dashing-rosidl-generator-dds-idl, ros-dashing-ament-lint-common, ros-dashing-ament-lint-auto, ros-dashing-rosidl-generator-c, ros-dashing-rmw, ros-dashing-rosidl-cmake, ros-dashing-rosidl-parser, ros-dashing-ament-cmake, ros-dashing-ros-workspace