<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake-gtest"/>
		<package id="ros-dashing-ament-cmake-ros"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-lifecycle-msgs"/>
		<package id="ros-dashing-rcl-lifecycle"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-rmw-implementation"/>
		<package id="ros-dashing-rosidl-typesupport-cpp"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>