Source: ros-dashing-rqt-graph
Version: 1.0.1
Description: rqt_graph provides a GUI plugin for visualizing the ROS computation graph.
 Its components are made generic so that other packages where you want to achieve graph representation can depend upon this pkg (use rqt_dep to find out the pkgs that depend. rqt_dep itself depends on rqt_graph too).
Build-Depends: ros-dashing-qt-dotgraph, ros-dashing-ament-index-python, ros-dashing-rqt-gui, ros-dashing-python-qt-binding, ros-dashing-rqt-gui-py, ros-dashing-ros-workspace