Source: ros-dashing-ament-cpplint
Version: 0.7.3
Description: The ability to check code against the Google style conventions using cpplint and generate xUnit test result files.
Build-Depends: ros-dashing-ament-pep257, ros-dashing-ament-flake8, ros-dashing-ament-copyright, ros-dashing-ros-workspace