Source: ros-dashing-ament-cmake-target-dependencies
Version: 0.7.3
Description: The ability to add definitions, include directories and libraries of a package to a target in the ament buildsystem in CMake.
Build-Depends: ros-dashing-ament-cmake-libraries, ros-dashing-ament-cmake-core, ros-dashing-ament-cmake-include-directories, ros-dashing-ros-workspace