Source: ros-dashing-ros2bag
Version: 0.1.3
Description: Entry point for rosbag in ROS 2
Build-Depends: ros-dashing-ament-flake8, ros-dashing-ament-pep257, ros-dashing-ros2cli, ros-dashing-ament-copyright, ros-dashing-rosbag2-transport, ros-dashing-ros-workspace