Source: ros-dashing-examples-rclpy-minimal-client
Version: 0.7.3
Description: Examples of minimal service clients using rclpy.
Build-Depends: ros-dashing-ament-pep257, ros-dashing-ament-copyright, ros-dashing-example-interfaces, ros-dashing-ament-flake8, ros-dashing-rclpy, ros-dashing-std-msgs, ros-dashing-ros-workspace