<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake-ros"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-fastcdr"/>
		<package id="ros-dashing-fastrtps"/>
		<package id="ros-dashing-fastrtps-cmake-module"/>
		<package id="ros-dashing-rcpputils"/>
		<package id="ros-dashing-rcutils"/>
		<package id="ros-dashing-rmw"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>