Source: ros-dashing-ros-testing
Version: 0.1.0
Description: The entry point package to launch testing in ROS.
Build-Depends: ros-dashing-launch-testing, ros-dashing-ament-cmake, ros-dashing-ament-cmake-core, ros-dashing-launch-testing-ros, ros-dashing-launch-testing-ament-cmake, ros-dashing-ros2test, ros-dashing-ament-cmake-export-dependencies, ros-dashing-ros-workspace