Source: ros-dashing-rviz-visual-testing-framework
Version: 6.1.2
Description: 3D testing framework for RViz.
Build-Depends: ros-dashing-ament-cmake-cppcheck, ros-dashing-ament-cmake-uncrustify, ros-dashing-ament-cmake-gmock, ros-dashing-ament-cmake-cpplint, ros-dashing-ament-cmake, ros-dashing-rviz-common, ros-dashing-ament-cmake-lint-cmake, ros-dashing-ament-cmake-gtest, ros-dashing-ros-workspace