<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-pytest"/>
		<package id="ros-dashing-pluginlib" allowedVersions="1.9.23"/>
		<package id="ros-dashing-python-qt-binding" allowedVersions="0.3.0"/>
		<package id="ros-dashing-tinyxml2-vendor"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>