<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-cppcheck"/>
		<package id="ros-dashing-ament-cmake-cpplint"/>
		<package id="ros-dashing-ament-cmake-gmock"/>
		<package id="ros-dashing-ament-cmake-gtest"/>
		<package id="ros-dashing-ament-cmake-lint-cmake"/>
		<package id="ros-dashing-ament-cmake-uncrustify"/>
		<package id="ros-dashing-ament-index-cpp"/>
		<package id="ros-dashing-geometry-msgs"/>
		<package id="ros-dashing-laser-geometry"/>
		<package id="ros-dashing-map-msgs"/>
		<package id="ros-dashing-nav-msgs"/>
		<package id="ros-dashing-pluginlib"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-resource-retriever"/>
		<package id="ros-dashing-rviz-common"/>
		<package id="ros-dashing-rviz-rendering"/>
		<package id="ros-dashing-rviz-rendering-tests"/>
		<package id="ros-dashing-rviz-visual-testing-framework"/>
		<package id="ros-dashing-tinyxml-vendor"/>
		<package id="ros-dashing-urdf"/>
		<package id="ros-dashing-visualization-msgs"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>