<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-geometry-msgs"/>
		<package id="ros-dashing-kdl-parser"/>
		<package id="ros-dashing-orocos-kdl"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-sensor-msgs"/>
		<package id="ros-dashing-tf2-ros"/>
		<package id="ros-dashing-urdf"/>
		<package id="ros-dashing-urdfdom-headers"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>