Source: ros-dashing-rcl-action
Version: 0.7.5
Description: Package containing a C-based ROS action implementation
Build-Depends: ros-dashing-ament-cmake-ros, ros-dashing-action-msgs, ros-dashing-ament-lint-common, ros-dashing-ament-cmake-gtest, ros-dashing-rosidl-generator-c, ros-dashing-rcutils, ros-dashing-rmw, ros-dashing-test-msgs, ros-dashing-osrf-testing-tools-cpp, ros-dashing-rcl, ros-dashing-ament-lint-auto, ros-dashing-ros-workspace