Source: ros-dashing-rmw-connext-cpp
Version: 0.7.3
Description: Implement the ROS middleware interface using RTI Connext static code generation in C++.
Build-Depends: ros-dashing-rmw, ros-dashing-ament-cmake, ros-dashing-rosidl-generator-c, ros-dashing-rosidl-cmake, ros-dashing-rcutils, ros-dashing-ament-lint-common, ros-dashing-rosidl-generator-dds-idl, ros-dashing-ament-lint-auto, ros-dashing-rosidl-generator-cpp, ros-dashing-ros-workspace