Source: ros-dashing-ros2lifecycle
Version: 0.7.4
Description: The lifecycle command for ROS 2 command line tools.
Build-Depends: ros-dashing-ament-copyright, ros-dashing-ros2cli, ros-dashing-ament-xmllint, ros-dashing-ament-pep257, ros-dashing-lifecycle-msgs, ros-dashing-rclpy, ros-dashing-ros2service, ros-dashing-ros2node, ros-dashing-ament-flake8, ros-dashing-ros-workspace