<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake"/>
		<package id="ros-dashing-ament-cmake-pytest"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-python-cmake-module"/>
		<package id="ros-dashing-rcl"/>
		<package id="ros-dashing-rcl-action"/>
		<package id="ros-dashing-rcl-interfaces"/>
		<package id="ros-dashing-rcl-yaml-param-parser"/>
		<package id="ros-dashing-rcutils"/>
		<package id="ros-dashing-rmw-implementation"/>
		<package id="ros-dashing-rmw-implementation-cmake"/>
		<package id="ros-dashing-rosidl-generator-py"/>
		<package id="ros-dashing-test-msgs"/>
		<package id="ros-dashing-unique-identifier-msgs"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>