Source: ros-dashing-examples-rclcpp-minimal-action-client
Version: 0.7.3
Description: Minimal action client examples
Build-Depends: ros-dashing-rclcpp, ros-dashing-ament-cmake, ros-dashing-example-interfaces, ros-dashing-rclcpp-action, ros-dashing-ros-workspace