Source: ros-dashing-ament-cmake-export-libraries
Version: 0.7.3
Description: The ability to export libraries to downstream packages in the ament buildsystem in CMake.
Build-Depends: ros-dashing-ament-cmake-core, ros-dashing-ros-workspace