<?xml version="1.0" encoding="utf-8"?>
<packages>
		<package id="ros-dashing-ament-cmake-gmock"/>
		<package id="ros-dashing-ament-cmake-ros"/>
		<package id="ros-dashing-ament-lint-auto"/>
		<package id="ros-dashing-ament-lint-common"/>
		<package id="ros-dashing-rclcpp"/>
		<package id="ros-dashing-rmw"/>
		<package id="ros-dashing-rosbag2"/>
		<package id="ros-dashing-rosbag2-test-common"/>
		<package id="ros-dashing-shared-queues-vendor"/>
		<package id="ros-dashing-test-msgs"/>
		<package id="ros-dashing-ros-workspace"/>

</packages>